<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>editor</title>
        <script src="../assets/js/jQuery/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="../assets/css/editor.css" />
    </head>
    <body>
        <script src="../assets/js/editor.js"></script>
        <div class="navbar toprow">
            <a href="javascript:showMenu()" class="dropbtn menuButton">
                <svg width="20" height="20">
                    &nbsp;
                    <path
                        d="M 0 4 L 20 4 L 20 6 L 0 6 Z M 0 9 L 20 9 L 20 11 L 0 11 Z M 0 14 L 20 14 L 20 16 L 0 16 Z"
                        fill="var(--margin-colour)"
                    />
                </svg>
            </a>
            <div class="dropdown">
                <button class="dropbtn">File</button>
                <div class="dropdown-content">
                    <a href="javascript:alert('Open')">Open</a>
                    <a href="javascript:alert('Save')">Save</a>
                    <a href="javascript:alert('Save As')">Save As</a>
                    <a href="javascript:alert('Close')">Close</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Edit</button>
                <div class="dropdown-content">
                    <a href="javascript:alert('Undo')">Undo</a>
                    <a href="javascript:alert('Redo')">Redo</a>
                    <a href="javascript:alert('Cut')">Cut</a>
                    <a href="javascript:alert('Copy')">Copy</a>
                    <a href="javascript:alert('Paste')">Paste</a>
                    <a href="javascript:alert('Format')">Format</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Run</button>
                <div class="dropdown-content">
                    <a href="javascript:alert('Run')">Run Normal</a>
                    <a href="javascript:alert('Run')">Run Debug</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Help</button>
                <div class="dropdown-content">
                    <a href="javascript:alert('Help')">Help</a>
                    <a href="javascript:alert('About')">About</a>
                    <a href="javascript:alert('Shortcuts')">Shortcuts</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="editor child">
                <div class="sidebar">
                    <div class="lineNumberContainer">
                        <span class="lineNum">01</span>
                    </div>
                </div>
                <div class="editorContent">
                    <label for="editorText"></label>
                    <textarea
                        title="editorText"
                        class="editorText"
                        id="editorText"
                    ></textarea>
                    <span id="line1bg"></span>
                </div>
            </div>
        </div>
    </body>
</html>
