<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
    <script src="../scripts/render.js"></script>
  </head>
  <body>
    <!--
      In Electron, rendering always happens in the main process.
      The renderer process is used only to display the HTML UI - 
      I'm going to be using React for this.
    -->
    <p1>There is a file here!</p1>
</html>