<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../assets/global-styles.css">
    
</head>
<body>
    <!--
    Assemblr Emulator 
        - Load Last
        - Free Code
        - Settings
        - About
        - Quit
    -->
    <script src="../assets/scripts/menu.js">
        // create menu using Javascript + template

        // import "findSave" function from main.js
        import { findSave } from "../assets/scripts/main.js";

        /*
        
        */

        function create_menu() {
            // create menu
            var menu_root = document.getElementById("menu-root");
            var menu_item = document.createElement("div");
            menu_item.classList.add("menu-item");
            // check if there is a save file with content
            // if there is, add a menu item to "Continue"
            // if there isn't, show "Start New" instead.
            if (findSave()[0]) {
                menu_item.innerHTML = "Continue";
                menu_item.id = "menu-item-continue";
                // add event listener to menu item
                menu_item.addEventListener("click", function() {
                    // load last save in game.html
                    // redirect to game.html

                    event.preventDefault(); // prevent default action 
                    window.location.href = "../views/game.html?sf="; // redirect to game.html
                });
            } else {
                menu_item.innerHTML = "Start New";
                menu_item.id = "menu-item-start-new";
            }

            
        }

        // wait for DOM to load
        document.addEventListener("DOMContentLoaded", function(event) { 
            // run menu script
        });
    </script>

    <div class="menu-root" id="menu-root">
        <div class="menu-container">
            <div class="menu-item" id="menu-item-load-last"></div>
            <div class="menu-item" id="menu-item-free-code">Free Code</div>
            <div class="menu-item" id="menu-item-settings">Settings</div>
            <div class="menu-item" id="menu-item-about">About</div>
            <div class="menu-item" id="menu-item-quit">Quit</div>
        </div>


    

</body>
</html>