<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../assets/global-styles.css">
    
</head>
<body>
    <!--
    Assemblr Emulator 
        - Load Last
        - Free Code
        - Settings
        - About
        - Quit
    -->
    <!-- scripts/menu.js" -->
    <script>
        
    </script>

    <div class="menu-root" id="menu-root">
        <div class="menu-container">
            <div class="menu-item" id="menu-item-load-last"></div>
            <div class="menu-item" id="menu-item-free-code">Free Code</div>
            <div class="menu-item" id="menu-item-settings">Settings</div>
            <div class="menu-item" id="menu-item-about">About</div>
            <div class="menu-item" id="menu-item-quit">Quit</div>
        </div>


    

</body>
</html>