/* Apply CSS variables defined in :root */
:root {
    /* Light Colors */
    --bar-color-light: #f2f2f2;
    --secondary-bar-color-light: #f6f8fa;
    --menu-bar-color-light: var(--bar-color-light);
    --ui-text-color-primary-light: #3b3d4d;
    --ui-text-color-secondary-light: #959da5;
    --border-color-light: var(--ui-text-color-secondary-light);

    /* Dark Colors */
    --bar-color-dark: #010409;
    --secondary-bar-color-dark: #f5f7fa;
    --menu-bar-color-dark: var(--bar-color-dark);
    --ui-text-color-primary-dark: #ffffff;
    --ui-text-color-secondary-dark: #7d8590;
    --border-color-dark: var(--ui-text-color-secondary-dark)
}

/* Default to dark mode */
* {
    --bar-color: var(--bar-color-dark);
    --secondary-bar-color: var(--secondary-bar-color-dark);
    --menu-bar-color: var(--menu-bar-color-dark);
    --ui-text-color-primary: var(--ui-text-color-primary-dark);
    --ui-text-color-secondary: var(--ui-text-color-secondary-dark);
    --border-color: var(--border-color-dark)
}


/* Light Mode if someone so chooses */
*.light-mode {
    --bar-color: var(--bar-color-light);
    --secondary-bar-color: var(--secondary-bar-color-light);
    --menu-bar-color: var(--menu-bar-color-light);
    --ui-text-color-primary: var(--ui-text-color-primary-light);
    --ui-text-color-secondary: var(--ui-text-color-secondary-light);
    --border-color: var(--border-color-light)
}