:root { /* Set Theme colours as Variables */
    --backgroundColour : #000000;
    --textColour : #00ff00;
    --accentTextColour : #ffffff;


}

* {
    /* Default Font Style: Monospace, Green*/
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    color: var(--textColour);
    /* Default Font Size: 16px */
    font-size: 16px;
    /* Default Font Weight: Normal */
    font-weight: normal;

    /* Default Text Alignment: Left */
    text-align: left;

    /* Default Background Color: Black */
    background-color: var(--backgroundColour);
}

